body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    padding: 16px 120px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 139px;
    height: 60px;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 16px;
}
.btn-uc{
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
#hero{
    text-align: center;
    padding: 115.5px 120px 179.5px 120px;
    background-image: linear-gradient(#0019310e), url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-info h4{
    display: inline-block;
    padding: 8px 12px;
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.header-info h1{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
    line-height: 84px;
    margin-bottom: 16px;
}
.header-info h1 span{
    color: #FFFFFF;
}
.header-info p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.icon{
    padding-left: 10px;
}
#Note{
    text-align: center;
    padding: 0px 120px 120px 120px;
}
.Note-header p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44px;
}
.Note-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px
}
.Note-info{
    width: 322px;
    padding: 70px 24px 0px 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.081);
}
.Note-info img{
    padding: 13.6px 14.4px;
    background-color: #F95555;
    border-radius: 50%;
}
.Note-info h2{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.Note-info p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
#brain{
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}
.brain-img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.brain-content h4{
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    margin-bottom: 16px;
}
.brain-content h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}
.brain-content p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 40px;
}
.brain-content li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.brain-content li span img{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
#think-more{
    padding: 0px 120px 120px 120px;
}
.clearly-thinking{
    text-align: center;
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
    padding: 80px 40px;
}
.clearly-thinking h2{
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
}
.clearly-thinking p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
}


